.csc-textpic-imagewrap {
	text-align: center;
}

.more {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.csc-textpic-imagewrap {
	text-align: left;
	float: left;
	img {
		margin-top: 0;	
		margin-left: 0;		
	}
}



/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) {
	.csc-textpic-imagewrap {
		text-align: center;
		float: none;
	}
}