footer.row {
	margin-top: 15px;
	a {
		color: $grey-font;
		@include box-sizing(border-box);
		padding: 2px 0 0 5%;
		display: inline-block;
		width: 31%;
	}

	#logos {
	    bottom: auto;
	    color: $blue-light;
	    left: auto;
	    margin-top: 25px;
	    position: static;
	    max-width: 100%;
	    .logo-head {
		    display: none;
		}

		> div {
		    display: block;
		    float: left;
		    width: 33%;
			a {
			    width: 100%;
			    img {
			    	width: 100%;
			    	height: auto;
			    }
			}

		}
	}
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) {

	footer.row {
	    text-align: left;
	    margin-top:0;

	    a {
	    	color: $white;
	    	font-weight: bold;
	    	text-decoration: none;
	    	border-right: 2px solid $white;
	    	padding-right: 5px;
	    	padding-left: 0;
	    	width: auto;
	    }

	    #logos {
	    	bottom: 32px;
	    	color: $white;
	    	left: 100%;
	    	position: absolute;
	    	padding-left: $box-half-padding+2;
	    	font-size: 0.583rem;
	    	max-width: 160px;
	    	width: 100%;
	    	.logo-head {
		    	display: block;
			}
			> div {
				width:auto;
				float: none;
				a {
					border-right: none;
				}
				img {
					width: 100%;
					display: block;
					margin: 0;
				}	
	    	}
	    }
	}

}

