header {
	position: relative;

	#logo { 
	    img {
			padding: 13px 0 0 0; 
		}
	}

	#socialbuttons {
	    position: absolute;
	    right: $box-half-padding;
	    top: 8px;
	    #faceb {
	    	float: left;
	    	margin-right:5px;
	    }
	    #twitter{
	    	float: left;
	    }
	    img {
	    	margin: 0;
	    }
	}
}

/* Small devices (smartphones, 240px and up) */
@media screen and (max-width: $screen-xs-max) {
	header {
		#socialbuttons {
			display: none;
		}

		img.img-responsive {
			width: 90%;
		}
	}
}