header {
	position: relative;

	#logo { 
	    img {
			padding: 13px 0 0 0; 
		}
	}

	#socialbuttons {
	    position: absolute;
	    right: $box-half-padding;
	    top: 8px;
	    display: none;
	    #faceb {
	    	float: left;
	    	margin-right:5px;
	    }
	    #twitter{
	    	float: left;
	    }
	    img {
	    	margin: 0;
	    }
	}
}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) {
	header {
		#socialbuttons {
			display: block;
		}

		img.img-responsive {
			width: auto;
		}
	}
}