/*@font-face { 
	font-family: 'Impact'; 
	src: url('../font/impact/impact.eot'); 
	src: url('../font/impact/impact.eot?#iefix') format('embedded-opentype'), url('../font/impact/impact.svg#Impact') format('svg'), url('../font/impact/impact.woff') format('woff'), url('../font/impact/impact.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal;
}*/