$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$test: border-box;

// Corporate Colors
$container-bg-color: #9AC3E6;
$grey-dark: #5A5A66;
$grey-font: #666;
$grey-light: #CDCDD1;
$blue: #349ACC;
$blue-light: #D5EBF5;
$blue-dark: #015496;
$green:#00B02F;
$green-matt:#C0FDB7;
$orange:#FC7204;
$orange-matt:#FED4B6;
$purple:#746EF4;
$purple-matt:#D4C1DA;
$red:#F40AA4;
$red-matt:#FEB3E1;
$green-dark:#047E84;
$green-dark-matt:#56BCBC;
$yellow:#F4B604;
$yellow-matt:#F4DAB0;
$white: #ffffff;
$col-bg-color: $white;
$black: #000;

// Corporate Design Elements
$container-width: 1000px;
$box-half-padding: $grid-gutter-width/2; // $grid-gutter-width is the value right + left.